*{padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
     font-family: "Poppins", sans-serif; 

}  

 #logo,h1,h2,h3,h4,h5,h6
    {
    font-family: "Lora", serif;
    }
header {border-bottom: 1px solid black;
height: 4rem;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
   header .container{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.iconslinks {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconslinks a {
    color: black;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.2rem;
}
.images img {
    width: 100%;
    height: 100%;
}
section {
    padding-top: 3rem;
    padding-bottom: 3rem;

}
#section1 .container {
    display: flex;
    gap: 3rem;
}

#image1 {
    grid-row: 1;
    grid-column: 1;
}
#image2 {
    grid-row: 2;
    grid-column: 1;
}
#image3 {
    grid-row: 3;
    grid-column: 1;
}
#image4 {
    grid-row: 4;
    grid-column: 1;
}
#selectedimage {
    grid-column: 2 / span 3;
    grid-row: 1 / span 4;

}


#logo {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.productdetails {
    width: 50%;

} 
